<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mapper.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.shopping.domain.OrderInfo">
    <id column="orderNo" jdbcType="VARCHAR" property="orderno" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="loginName" jdbcType="VARCHAR" property="loginname" />
    <result column="user_address_id" jdbcType="INTEGER" property="userAddressId" />
    <result column="distribution" jdbcType="CHAR" property="distribution" />
    <result column="payWay" jdbcType="CHAR" property="payway" />
    <result column="orderPrice" jdbcType="DECIMAL" property="orderprice" />
    <result column="orderStatu" jdbcType="CHAR" property="orderstatu" />
    <result column="deadlineTime" jdbcType="TIMESTAMP" property="deadlinetime" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <association property="userAddress" select="com.shopping.mapper.UserAddressMapper.selectByIdAndUserId"
                 javaType="com.shopping.domain.UserAddress" column="{id=user_address_id,userid=userId}"/>
    <collection property="orderDetailList" select="com.shopping.mapper.OrderDetailMapper.selectByOrderNo" column="orderNo"/>
  </resultMap>
  <sql id="Base_Column_List">
    orderNo, userId, loginName, user_address_id, distribution, payWay, orderPrice, orderStatu, 
    deadlineTime, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_info
    where orderNo = #{orderno,jdbcType=VARCHAR}
  </select>
  <select id="selectOrderByUidAndStatu" parameterType="com.shopping.domain.OrderInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_info
    <where>
      and userId = #{userid}
      <if test="orderstatu!=null and orderstatu != ''">
        and orderStatu = #{orderstatu}
      </if>
    </where>
    order by createTime desc
  </select>
  <select id="getOrderCount" parameterType="com.shopping.domain.OrderInfo" resultType="int">
    select
    count(1)
    from order_info
    <where>
      and userId = #{userid}
      <if test="orderstatu!=null and orderstatu != ''">
        and orderStatu = #{orderstatu}
      </if>
    </where>
  </select>
  <delete id="deleteByOrderNo" parameterType="java.lang.String">
    delete from order_info
    where orderNo = #{orderno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shopping.domain.OrderInfo">
    insert into order_info (orderNo, userId, loginName, 
      user_address_id, distribution, payWay, 
      orderPrice, orderStatu, deadlineTime, 
      createTime)
    values (#{orderno,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{loginname,jdbcType=VARCHAR}, 
      #{userAddressId,jdbcType=INTEGER}, #{distribution,jdbcType=CHAR}, #{payway,jdbcType=CHAR}, 
      #{orderprice,jdbcType=DECIMAL}, #{orderstatu,jdbcType=CHAR}, #{deadlinetime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shopping.domain.OrderInfo">
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderno != null">
        orderNo,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="loginname != null">
        loginName,
      </if>
      <if test="userAddressId != null">
        user_address_id,
      </if>
      <if test="distribution != null">
        distribution,
      </if>
      <if test="payway != null">
        payWay,
      </if>
      <if test="orderprice != null">
        orderPrice,
      </if>
      <if test="orderstatu != null">
        orderStatu,
      </if>
      <if test="deadlinetime != null">
        deadlineTime,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderno != null">
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="loginname != null">
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="userAddressId != null">
        #{userAddressId,jdbcType=INTEGER},
      </if>
      <if test="distribution != null">
        #{distribution,jdbcType=CHAR},
      </if>
      <if test="payway != null">
        #{payway,jdbcType=CHAR},
      </if>
      <if test="orderprice != null">
        #{orderprice,jdbcType=DECIMAL},
      </if>
      <if test="orderstatu != null">
        #{orderstatu,jdbcType=CHAR},
      </if>
      <if test="deadlinetime != null">
        #{deadlinetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shopping.domain.OrderInfo">
    update order_info
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="loginname != null">
        loginName = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="userAddressId != null">
        user_address_id = #{userAddressId,jdbcType=INTEGER},
      </if>
      <if test="distribution != null">
        distribution = #{distribution,jdbcType=CHAR},
      </if>
      <if test="payway != null">
        payWay = #{payway,jdbcType=CHAR},
      </if>
      <if test="orderprice != null">
        orderPrice = #{orderprice,jdbcType=DECIMAL},
      </if>
      <if test="orderstatu != null">
        orderStatu = #{orderstatu,jdbcType=CHAR},
      </if>
      <if test="deadlinetime != null">
        deadlineTime = #{deadlinetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where orderNo = #{orderno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shopping.domain.OrderInfo">
    update order_info
    set userId = #{userid,jdbcType=INTEGER},
      loginName = #{loginname,jdbcType=VARCHAR},
      user_address_id = #{userAddressId,jdbcType=INTEGER},
      distribution = #{distribution,jdbcType=CHAR},
      payWay = #{payway,jdbcType=CHAR},
      orderPrice = #{orderprice,jdbcType=DECIMAL},
      orderStatu = #{orderstatu,jdbcType=CHAR},
      deadlineTime = #{deadlinetime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where orderNo = #{orderno,jdbcType=VARCHAR}
  </update>
  <update id="timingCancelOrder">
    UPDATE order_info oi
    INNER JOIN order_detail od
    ON oi.orderNo = od.orderNo
    INNER JOIN product_sku pk
    ON pk.id = od.skuId
    SET oi.orderStatu = 3,pk.productStock = pk.productStock+od.number
    WHERE oi.orderStatu = 1 AND TIMESTAMPDIFF(SECOND,NOW(),oi.deadlineTime)<![CDATA[ <= ]]>0
  </update>
</mapper>