<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.shopping.domain.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="categoryLevel1Id" jdbcType="INTEGER" property="categorylevel1id" />
    <result column="categoryLevel2Id" jdbcType="INTEGER" property="categorylevel2id" />
    <result column="categoryLevel3Id" jdbcType="INTEGER" property="categorylevel3id" />
    <result column="fileName" jdbcType="VARCHAR" property="filename" />
    <result column="attributeList" jdbcType="VARCHAR" property="attributelist" />
    <result column="defaultSpecs" jdbcType="VARCHAR" property="defaultspecs" />
    <result column="isDelete" jdbcType="INTEGER" property="isdelete" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, description, price, stock, categoryLevel1Id, categoryLevel2Id, categoryLevel3Id, 
    fileName, attributeList, defaultSpecs, isDelete, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shopping.domain.Product">
    insert into product (id, name, description, 
      price, stock, categoryLevel1Id, 
      categoryLevel2Id, categoryLevel3Id, fileName, 
      attributeList, defaultSpecs, isDelete, 
      createTime)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{price,jdbcType=REAL}, #{stock,jdbcType=INTEGER}, #{categorylevel1id,jdbcType=INTEGER}, 
      #{categorylevel2id,jdbcType=INTEGER}, #{categorylevel3id,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR}, 
      #{attributelist,jdbcType=VARCHAR}, #{defaultspecs,jdbcType=VARCHAR}, #{isdelete,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shopping.domain.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="categorylevel1id != null">
        categoryLevel1Id,
      </if>
      <if test="categorylevel2id != null">
        categoryLevel2Id,
      </if>
      <if test="categorylevel3id != null">
        categoryLevel3Id,
      </if>
      <if test="filename != null">
        fileName,
      </if>
      <if test="attributelist != null">
        attributeList,
      </if>
      <if test="defaultspecs != null">
        defaultSpecs,
      </if>
      <if test="isdelete != null">
        isDelete,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="categorylevel1id != null">
        #{categorylevel1id,jdbcType=INTEGER},
      </if>
      <if test="categorylevel2id != null">
        #{categorylevel2id,jdbcType=INTEGER},
      </if>
      <if test="categorylevel3id != null">
        #{categorylevel3id,jdbcType=INTEGER},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="attributelist != null">
        #{attributelist,jdbcType=VARCHAR},
      </if>
      <if test="defaultspecs != null">
        #{defaultspecs,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shopping.domain.Product">
    update product
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=REAL},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="categorylevel1id != null">
        categoryLevel1Id = #{categorylevel1id,jdbcType=INTEGER},
      </if>
      <if test="categorylevel2id != null">
        categoryLevel2Id = #{categorylevel2id,jdbcType=INTEGER},
      </if>
      <if test="categorylevel3id != null">
        categoryLevel3Id = #{categorylevel3id,jdbcType=INTEGER},
      </if>
      <if test="filename != null">
        fileName = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="attributelist != null">
        attributeList = #{attributelist,jdbcType=VARCHAR},
      </if>
      <if test="defaultspecs != null">
        defaultSpecs = #{defaultspecs,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null">
        isDelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shopping.domain.Product">
    update product
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      stock = #{stock,jdbcType=INTEGER},
      categoryLevel1Id = #{categorylevel1id,jdbcType=INTEGER},
      categoryLevel2Id = #{categorylevel2id,jdbcType=INTEGER},
      categoryLevel3Id = #{categorylevel3id,jdbcType=INTEGER},
      fileName = #{filename,jdbcType=VARCHAR},
      attributeList = #{attributelist,jdbcType=VARCHAR},
      defaultSpecs = #{defaultspecs,jdbcType=VARCHAR},
      isDelete = #{isdelete,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectProductlist" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product
    <where>
        <if test="price1 !=null">
          and price <![CDATA[ >= ]]> #{price1}
        </if>
        <if test="price2 !=null">
          and price <![CDATA[ <= ]]> #{price2}
        </if>
        <if test="name !=null and name != ''">
          and name like CONCAT('%',#{name},'%')
        </if>
      <if test="categoryId !=null">
        and categoryLevel1Id = #{categoryId} or categoryLevel2Id = #{categoryId} or categoryLevel3Id = #{categoryId}
      </if>
    </where>
  </select>
  <select id="getProductCount" resultType="int">
    select
    count(1)
    from product
    <where>
        <if test="price1 !=null">
          and price <![CDATA[ >= ]]> #{price1}
        </if>
        <if test="price2 !=null">
          and price <![CDATA[ <= ]]> #{price2}
        </if>
        <if test="name !=null and name != ''">
          and name like CONCAT('%',#{name},'%')
        </if>
      <if test="categoryId !=null">
        and categoryLevel1Id = #{categoryId} or categoryLevel2Id = #{categoryId} or categoryLevel3Id = #{categoryId}
      </if>
    </where>
  </select>
</mapper>