<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mapper.ShopCartMapper">
  <resultMap id="BaseResultMap" type="com.shopping.domain.ShopCart">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="productId" jdbcType="INTEGER" property="productid" />
    <result column="skuId" jdbcType="INTEGER" property="skuid" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
    <result column="statu" jdbcType="CHAR" property="statu" />
    <result column="isSelected" jdbcType="BIT" property="isselected" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, productId, skuId, price, number, cost, statu, isSelected, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_cart
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shop_cart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shopping.domain.ShopCart">
    insert into shop_cart (id, userId, productId, 
      skuId, price, number, 
      cost, statu, isSelected, createTime
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, 
      #{skuid,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{number,jdbcType=INTEGER}, 
      #{cost,jdbcType=DECIMAL}, #{statu,jdbcType=CHAR}, #{isselected,jdbcType=BIT}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shopping.domain.ShopCart">
    insert into shop_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="productid != null">
        productId,
      </if>
      <if test="skuid != null">
        skuId,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="statu != null">
        statu,
      </if>
      <if test="isselected != null">
        isSelected,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="skuid != null">
        #{skuid,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="statu != null">
        #{statu,jdbcType=CHAR},
      </if>
      <if test="isselected != null">
        #{isselected,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shopping.domain.ShopCart">
    update shop_cart
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        productId = #{productid,jdbcType=INTEGER},
      </if>
      <if test="skuid != null">
        skuId = #{skuid,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="statu != null">
        statu = #{statu,jdbcType=CHAR},
      </if>
      <if test="isselected != null">
        isSelected = #{isselected,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shopping.domain.ShopCart">
    update shop_cart
    set userId = #{userid,jdbcType=INTEGER},
      productId = #{productid,jdbcType=INTEGER},
      skuId = #{skuid,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      number = #{number,jdbcType=INTEGER},
      cost = #{cost,jdbcType=DECIMAL},
      statu = #{statu,jdbcType=CHAR},
      isSelected = #{isselected,jdbcType=BIT},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectShopCartByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shop_cart
    where userId = #{userid,jdbcType=INTEGER}
  </select>
  <select id="selectShopCartByIsSelected" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shop_cart
    where userId = #{userid,jdbcType=INTEGER} AND isSelected = true
  </select>
  <select id="getShopCartCount" parameterType="java.lang.Integer" resultType="int">
    select
    count(1)
    from shop_cart
    where userId = #{userid,jdbcType=INTEGER}
  </select>
  <select id="getShopCartByUidAndPidAndSkuid" parameterType="com.shopping.domain.ShopCart" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shop_cart
    where userId = #{userid,jdbcType=INTEGER}
    and productId = #{productid,jdbcType=INTEGER} and skuId = #{skuid,jdbcType=INTEGER} and statu = 1
  </select>
</mapper>