<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mapper.SlideShowMapper">
  <resultMap id="BaseResultMap" type="com.shopping.domain.SlideShow">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="picUrl" jdbcType="VARCHAR" property="picurl" />
    <result column="picUrl_to" jdbcType="VARCHAR" property="picurlTo" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pid, type, picUrl, picUrl_to, createTime
  </sql>
  <select id="getBySlideShowByProductidANDType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from slideshow
    <where>
        <if test="pid != null">and pid = #{pid,jdbcType=INTEGER} </if>
        <if test="type != null and type != ''">and type = #{type,jdbcType=VARCHAR}</if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from slideshow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shopping.domain.SlideShow">
    insert into slideshow (id, pid, type, 
      picUrl, picUrl_to, createTime
      )
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{picurl,jdbcType=VARCHAR}, #{picurlTo,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shopping.domain.SlideShow">
    insert into slideshow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="picurl != null">
        picUrl,
      </if>
      <if test="picurlTo != null">
        picUrl_to,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="picurl != null">
        #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="picurlTo != null">
        #{picurlTo,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shopping.domain.SlideShow">
    update slideshow
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="picurl != null">
        picUrl = #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="picurlTo != null">
        picUrl_to = #{picurlTo,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shopping.domain.SlideShow">
    update slideshow
    set pid = #{pid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      picUrl = #{picurl,jdbcType=VARCHAR},
      picUrl_to = #{picurlTo,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>