<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mapper.UserAddressMapper">
  <resultMap id="BaseResultMap" type="com.shopping.domain.UserAddress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="ProvinceID" jdbcType="INTEGER" property="provinceid" />
    <result column="CityID" jdbcType="INTEGER" property="cityid" />
    <result column="DistrictID" jdbcType="INTEGER" property="districtid" />
    <result column="isDefault" jdbcType="INTEGER" property="isdefault" />
    <result column="detailed_address" jdbcType="VARCHAR" property="detailedAddress" />
    <result column="consignee" jdbcType="VARCHAR" property="consignee" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, ProvinceID, CityID, DistrictID, isDefault, detailed_address, consignee, 
    mobile, createTime
  </sql>
  <select id="selectByIdAndUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_address
    where id = #{id,jdbcType=INTEGER} and userid =#{userid,jdbcType=INTEGER}
  </select>
  <select id="selectUserAddressByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_address
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shopping.domain.UserAddress">
    insert into user_address (id, userId, ProvinceID, 
      CityID, DistrictID, isDefault, 
      detailed_address, consignee, mobile, 
      createTime)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{provinceid,jdbcType=INTEGER}, 
      #{cityid,jdbcType=INTEGER}, #{districtid,jdbcType=INTEGER}, #{isdefault,jdbcType=INTEGER}, 
      #{detailedAddress,jdbcType=VARCHAR}, #{consignee,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shopping.domain.UserAddress">
    insert into user_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="provinceid != null">
        ProvinceID,
      </if>
      <if test="cityid != null">
        CityID,
      </if>
      <if test="districtid != null">
        DistrictID,
      </if>
      <if test="isdefault != null">
        isDefault,
      </if>
      <if test="detailedAddress != null">
        detailed_address,
      </if>
      <if test="consignee != null">
        consignee,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="provinceid != null">
        #{provinceid,jdbcType=INTEGER},
      </if>
      <if test="cityid != null">
        #{cityid,jdbcType=INTEGER},
      </if>
      <if test="districtid != null">
        #{districtid,jdbcType=INTEGER},
      </if>
      <if test="isdefault != null">
        #{isdefault,jdbcType=INTEGER},
      </if>
      <if test="detailedAddress != null">
        #{detailedAddress,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null">
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shopping.domain.UserAddress">
    update user_address
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="provinceid != null">
        ProvinceID = #{provinceid,jdbcType=INTEGER},
      </if>
      <if test="cityid != null">
        CityID = #{cityid,jdbcType=INTEGER},
      </if>
      <if test="districtid != null">
        DistrictID = #{districtid,jdbcType=INTEGER},
      </if>
      <if test="isdefault != null">
        isDefault = #{isdefault,jdbcType=INTEGER},
      </if>
      <if test="detailedAddress != null">
        detailed_address = #{detailedAddress,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null">
        consignee = #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shopping.domain.UserAddress">
    update user_address
    set userId = #{userid,jdbcType=INTEGER},
      ProvinceID = #{provinceid,jdbcType=INTEGER},
      CityID = #{cityid,jdbcType=INTEGER},
      DistrictID = #{districtid,jdbcType=INTEGER},
      isDefault = #{isdefault,jdbcType=INTEGER},
      detailed_address = #{detailedAddress,jdbcType=VARCHAR},
      consignee = #{consignee,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateUserAddressIsDefaultByUserid" parameterType="com.shopping.domain.UserAddress">
    update user_address
    set isDefault = 0
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateUserAddressIsDefaultById" parameterType="com.shopping.domain.UserAddress">
    update user_address
    set isDefault = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>